.NavBar__menu ul {
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	align-items: center;
}

.NavBar__menu li{
	border: 0.1px solid black;
	/*display: inline-block;*/
	margin: auto;
	width: 70%;
	text-align: center;
}

.NavBar__menu li div{
	border: 0.1em solid hotpink;
	padding: 7%;
	padding-top: 10%;
	padding-bottom: 10%;
}

.NavBar__menu li div p{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	padding: 0em;
	margin: 0em;
}


.NavBar__menu a:focus {
	outline: 0;
}

.NavBar__menu a{
	text-decoration: none;
	color: black;
}

.NavBar__menu__title{
	text-align: center;
}