.CheckBox{
	display: block;
	margin-bottom: 0.2em;
}

.CheckBox__button{
	display: inline-block;
	width: 25%;
	font-size: 1.3em;
	height: 1.3em;
	width: 1.3em;
	padding: 0;
	background: rgb(17, 189, 191);
	border: 1px solid black;
	color: black;
}
.CheckBox__button:hover{
	background: rgb(7, 211, 213);
}

.CheckBox__label{
	display: inline-block;
	text-align: left;
	width: 75%;
	margin-left: 0.6em;
	font-size: 0.9em
}