.Documents{
	font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 1.4em;

}
.Documents h1{
	font-size: 2em;
	margin-bottom: 1em;
}

.Documents__BackButton{
	background: rgb(17, 189, 191);
	border: 1px solid black;
	color: black;
	padding: 0.5em;
	margin-top: 1em;
	font-size: 0.8em;
}

