.LendItemMenu__container {
	/*background: green;*/
	text-align: center;

}



.Dropdown {

}

.Dropdown-root {
	width: 100%;
    display: inline-block;
    margin-bottom: 1.2em;

}

.Dropdown-root:hover {
    cursor: pointer;

}

.Dropdown-control {
/*    border-color: gray;*/
	border: 0.1em solid gray;
	background: lightgray;
    /*border-radius: 5px;*/
    width: 70%;
    margin: 0 auto;
    border-style: solid;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    /*margin: 1px;*/
    /*border-width: 1px;*/
    /*padding: 10px;*/
    /*margin: 2px;*/
}

.Dropdown-option {
    padding: 1.3em;
    border-bottom: 1px solid gray;
}

.Dropdown-option:hover {
    background: gray;
}

.Dropdown-menu {
    background: white;
    border: 1px solid gray;
    position: absolute;
    width: 70%;
    overflow-y: auto;
    z-index: 1;
}


/*.LendItem__button{
	border: 1px solid black;
	padding: 1.2em;
	background: gray;
	color: black;
	display: inline-block;
	margin-right: 1em;
	width: 40%;
}
*/


.LendItemMenu__container input:disabled{
	background: #f0f0f5;
	color: #0000ff;
}

.LendItemMenu__header{

}