.LendItem{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.4em;
}


.LendItem__inputFields .react-datepicker__input-container input{
    width: 90%;
}

.Dropdown-root:hover {
    cursor: pointer;
}

.Dropdown-control {
    width: 80%;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 0 auto;
    

}

.Dropdown-option {
    padding: 5px;
    border: 1px solid black;
}

.Dropdown-option:hover {
    background: rgb(7, 211, 213);
}

.Dropdown-menu {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /*border: 1px solid black;*/
    /*border-color: gray;*/
    
    width: 80%;
    position: absolute;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
    background: rgb(17, 189, 191);
    margin-top: 0px;
}

.LendItem__DatePicker{
    margin-bottom: 1em;
}

.LendItem__button{
    width: 50%;
}


.LendItem__suggestionList{
    float: left;
    width: 50%;
}

.LendItem__toLendItems{
    float: right;
    width: 50%;
}

.LendItem__toLendItems--wide{
    clear: both;
    width: 80%;
    margin: 0 auto;
}

.toLendItem{
    /*width: 40%;*/
    width: 90%;
    padding: 0.9em;
    border: 1px solid black;
    background: #006E90;
}
.toLendItem:hover{
    background: #ADCAD6;
    cursor: pointer;
}


.LendItem__toLendItems--wide .toLendItem{
    width: 100%;
    /*margin: 0 auto;*/
}

.SuggestionItem__suggestionButton--lend{
    left: 10%;
}