.ReserveItem {
	font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 1.4em;
}

.ReserveItem__inputFields input {
    border: 1px solid black;
    width: 80%;
    font-size: 1em;
    padding: 0;
    margin-bottom: 1em;
}

.ReserveItem__button{
	width: 100%;
	height: 2.5em;
	background: orange;
    border: 1px solid black;
    font-size: 1em;
}