.ReturnItem{
	font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 1.4em;
}

.ReturnItem h2{
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

.ReturnItem__suggestionItems{
	width: 80%;
	border: 1px solid black;
	border-right-width: 2px;
	border-left-width: 2px;
	margin: 0 auto;
	margin-bottom: 1em;
}

.ReturnItems__toReturnList{
	margin-bottom: 2em;
}

.toReturnItem{
	border: 1px solid black;
	width: 90%;
	margin: 0 auto;
	padding: 0.9em;
	background: #006E90;
}


.toReturnItem:hover{
	cursor: pointer;
	background: #ADCAD6;
}

.suggestionButton__container{
	position: relative;
	margin-bottom: 2.7em;

}
.SuggestionItem__suggestionButton{
	position: absolute;
	right: 10%;
	background: rgb(17, 189, 191);
	height: 2.5em;
	width: 80%;
	color: black;
    border: 1px solid black;
    font-size: 1em;
}

.SuggestionItem__suggestionButton:hover{
	background: rgb(7, 211, 213);
}

.ReturnButton__container{
	margin-bottom: 1em;
	clear: both;
}