.StorageListItem__list__item{
	border: 1px solid black;
	text-align: center;
	margin-bottom: 0.5em;
	min-height: 3.6em;

}

.StorageListItem__list__item div{
	text-align: center;
	vertical-align: middle;
}

.StorageListItem__list__item button{
	width: 50%;
	margin: 0;
	border-right: none;
}

.StorageListItem__list__item__box--left{
	display: inline-block;
	width: 50%;
}

.StorageListItem__list__item__box--right{
	display: inline-block;
	width: 50%;
}

/*.StorageListItem__list__item td{
    display: table;
    float: left;
    margin: 0 auto;
    width: 100%;
}
*/
/*.StorageListItem__container td p{
    background: #f2f2f2;
    padding: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}*/

.StorageListItem__container li{
	margin-bottom: 5em;
	padding: 0;
}


.StorageListItem__list__item__box--left__edit{
	padding-top: 1em;
}

.StorageListItem__list__item__box--right__edit{

}

.List__lending--left{
	display: inline-block;
	width: 75%;
}
.List__lending--right{
	display: inline-block;
	width: 25%;
	/*height: 100%;*/
}

.List__lending--right button{
	width: 100%;
}