/* import font */
@font-face {
	src: url(/./styles/Oswald-Regular.tff) format('tff');
}

button::-moz-focus-inner {
	border: 0;
}


ul{
	list-style-type: none;
}



.App {
  text-align: center;
}


#root{
	margin: auto;
	text-align: center;
}

#MainMenu{
	/*background: hotpink;*/
	width: 70%;
	margin: auto;
	border: 5px solid black;

}

#MenuList li{

	background: #0C4767;
	border: 5px solid #2C8C99;
	width: 80%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;

	padding: 20px;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;


}

/* Main page menu */
#MenuList li a:link {
    text-decoration: none;
    color: white;
    outline: 0;
}

#MenuList li a:visited {
    text-decoration: none;
    color: white;
    outline: 0;
}

#MenuList li a:hover {
    text-decoration: none;
    color: #F9A03F;
    outline: 0;

}

#MenuList li a:active {
    text-decoration: none;
    color: #F8DDA4;
    outline: 0;
}





/* Title on top of the webpage */
#MenuTitle, h1{
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	background: #42D9C8;
	margin-top: 10px;
}


p {
	font-size: 20px;
	margin-bottom: 2px;
}


.SubmitButton{
	width: 300px;
	height: 50px;
	font-size: 20px;

}

.ScanButton{
	border: 3px solid black;
	background: #0C4767;
	color: white;
	width: 200px;
	height: 100px;
	text-align: center;
}


.ScanButton:active{
	background: #2C8C99;
	outline: 0;
}

.Dropdown-root {
    width: 300px;
    display: inline-block;
}

.Dropdown-root:hover {
    cursor: pointer;
}

.Dropdown-control {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 2px;
}

.Dropdown-option {
    padding: 5px;
}

.Dropdown-option:hover {
    background: gray;
}

.Dropdown-menu {
    background: lightgray;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    position: absolute;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}


/* ReserveItem reservations */
#ReservationList li{
	border: 1px solid black;
	width: 50%;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#ReserveItemMenu p{
	margin-bottom: 2px;
}

table{
	margin: auto;
}
td{
	border: 1px solid black;
}

#StorageList li{
	border: 1px solid black;
	width: 60%;
	margin: auto;
	margin-top: 5px;
}

.NotInStorage {
	background: #ed872d;
}

.ItemSuggestion {
	border: 2px solid black;
	background: hotpink;
	width: 300px;
	margin: auto;
	margin-bottom: 3px;
}


.ReservationListItem {
	background: orange;
}

/* Joel Salminen - joel.salminen@student.lut.fi */